body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body {    
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

h1{
    color: #085075;    
}

h2 {
    color: #085075;    
}
h3{
    color: #085075;    
}

/*.tsd-header{
    height: 55px;
    border-bottom: solid 2px #eee;
}
.tsd-header h1{
    padding-top: 5px;
    padding-left: 25px;
    font-size: 38px;
}*/

.tsd-sidebar {
    padding: 10px;
    margin: 0;
    font-size: 12px;
    width: 190px;
    position: absolute;
    /*top: 55px;*/
    left: 0;
    border-right: solid 1px #eee;
    height: calc(100vh - 55px);
}

.tsd-sidebar select, .tsd-sidebar input {
    width: 100%
}
.tsd-main {
    position: relative;
    margin-left: 20px;
}

.tsd-match-options {
    margin-bottom: 10px;
    margin-top: 0px;
    display: none;
    background-color: #fff;    
    overflow-y: scroll;
    max-height: 200px;
}
.tsd-match-options div{
    cursor: pointer;
    padding-top: 5px;
}
.tsd-match-options div:hover{
    color: rgba(24,149,215,1);
}

.tsd-block{
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #eee;
}
.tsd-block h2 {
    padding-top: 20px;
}
.tsd-block-inner{
    display: flex;
}
.tsd-panel{
    padding-top: 20px;
    width: 100%;
}
.tsd-widget{
    padding: 5px 0px 0px 0px;
}

.tsd-col-1-1{
    width: 99%
}

.tsd-col-1-2{
    width: 49%
}

.tsd-col-1-3{
    width: 33%
}
.tsd-col-2-3{
    width: 66%
}
.tsd-col-1-4{
    width: 24%
}
.tsd-col-1-5{
    width: 19%
}
.tsd-col-1-6{
    width: 16%
}

.tsd-error {
    background-color: darkgray;
    color: white;
    display: none;
    padding: 10px;
}
.tsd-error-visible {
    background-color: orangered;
    color: white;
    display: inherit;
}
/***********************************************************************/
.tsd-sidebar-param {
    margin-bottom:10px;
}
.tsd-sidebar input, .tsd-sidebar select{
    min-height: 30px;
    font-size: 14px;
    width:100%;
    /*border-radius:3px;*/
    border:#ccc 1px solid;
    box-sizing:border-box;
    padding:2px;
    background-color: #fff;
    color: #222;
}

.tsd-sidebar input[type="checkbox"]{
    min-height: initial;
}

.tsd-sidebar input:focus, .tsd-sidebar select:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}

.tsd-sidebar button{
    min-height: 30px;
    font-size: 14px;
    width:100%;
    /*border-radius:3px;*/
    border:rgba(0,0,0,.3) 0px solid;
    background-color :#147bb1;
    color: white;
    box-sizing:border-box;
    padding:2px;
    margin-bottom:10px;
}

.tsd-widget-sub {
    position: relative;
}
.tsd-input-help {
    font-size: 10px;
    color:#888;margin-right: 10px;
    cursor: pointer;
}
.tsd-input-help:hover {
    color:goldenrod;
}
.modal {
    padding-right: 17px;
}
.modal-dialog {
    width: 100%;
    height: 95%;
    padding: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    background-color: rgb(255,255,255,0.8);
}
/*********************************/
/* Chart styles                  */
/*********************************/

.line {
    fill: none;
    stroke: #008aff;
    /*stroke-width: 1.5px;*/
}
.line2 {
    fill: none;
    stroke: #ff8a00;
    /*stroke-width: 1.5px;*/
}
.line1-legend {
	background-color: #008aff; 
}
.line2-legend {
	background-color: #ff8a00; 
}

.area {
    stroke: white;
    fill: #242d7b;
    opacity: 0.6;
}

.series {
    stroke-width: 2;
    fill: none;
}
.series0 { stroke: #1f77b4; }
.series1 { stroke: #ff7f0e; }
.series2 { stroke: #2ca02c; }
.series3 { stroke: #d62728; }
.series4 { stroke: #9467bd; }
.series5 { stroke: #8c564b; }
.series6 { stroke: #e377c2; }
.series7 { stroke: #7f7f7f; }
.series8 { stroke: #bcbd22; }
.series9 { stroke: #17becf; }
.series-tag0 { background-color: #1f77b4; }
.series-tag1 { background-color: #ff7f0e; }
.series-tag2 { background-color: #2ca02c; }
.series-tag3 { background-color: #d62728; }
.series-tag4 { background-color: #9467bd; }
.series-tag5 { background-color: #8c564b; }
.series-tag6 { background-color: #e377c2; }
.series-tag7 { background-color: #7f7f7f; }
.series-tag8 { background-color: #bcbd22; }
.series-tag9 { background-color: #17becf; }


svg text {
    fill: #666;
}

path { 
    stroke-width: 2;
    fill: none;
}
path2 { 
    stroke: #ff8a00;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick {
    stroke: lightgrey;
    stroke-opacity: 0.4;
  stroke-dasharray: 5,5;
    shape-rendering: crispEdges;
}

.overlay {
     fill: none;
     stroke: none;
     pointer-events: all;
 }

 .focusLine {
     fill: none;
     stroke: steelblue;
     stroke-width: 0.5px;
 }

 .focusCircle {
     fill: red;
 }
     
     
.zerolinetext {
    fill: red;
    color: red;
}
.line-chart-tooltip {
    position: absolute;
    text-align: center;
    min-height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    color: white;
    background: black;
    border: 0px;
    pointer-events: none;
    /*
    position: relative;
    width: 100px;
    text-align: center;
    min-height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    color: white;
    background: black;
    border: 0px;
    pointer-events: none;
    */
 }